// sass-lint:disable-all
// image url
$homeIcon : url('../../Assets/Images/icon/icon-home.png');
$feedIcon : url('../../Assets/Images/icon/icon-feed.png');
$QRIcon : url('../../Assets/Images/icon/chara.png');
$miniGameIcon : url('../../Assets/Images/icon/icon-minigame.png');
$myPageIcon : url('../../Assets/Images/icon/icon-mypage.png');
$shopIcon : url('../../Assets/Images/icon/shop.png');
$noticeIcon : url('../../Assets/Images/icon/notice.png');


// common style
* {
  font-family: Noto_Regular, sans-serif;
}
.App {
  margin: 55px 0 100px 0;
  width: 100%;
}

.hidden {
  display: none;
}

// pagination.jsx
.paginationCover {
  display: flex;
  padding: 0 21px;
  margin: 12px 0 30px 0;
  justify-content: center;
  align-items: center;
  > .btnCover{
    margin: 0;
    > img {
      width: 16px;
      height: 16px;
    }
  }
  > .numCover {
    margin-bottom: 5px;
    > span {
      font-size: $font_R;
      color: $LIGHT_GREY;
    }
    > .current {
      color: $MAIN_RED
    }
    > .line {
      display: inline-block;
      height: 12px;
      width: 1px;
      background-color: $LIGHT_GREY;
      margin: 0 5px;
    }
  }
}

@keyframes fadeinOutIcon {
  0%{opacity: 0.1}
  20%{opacity: 0.2}
  50%{opacity: 0.5}
  80%{opacity: 0.8}
  100%{opacity: 1}
}

// Loading.jsx
.loadingCover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 500;

  .loadingImg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50px;
    height: 50px;
    animation: fadeinOutIcon 2000ms ease-in-out 500ms infinite;
  }
}

.colorBtnCover {
  text-align: center;
  //width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 0 8px;
  min-width: 96px;
  height: 36px;
  border-radius: 20px;
  margin: 2px;

  .text {
    font-family: Noto_Medium, sans-serif;
    font-size: $font_RR;
    color: $WHITE;
  }
}

.circleBtnCover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  .line{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid $LIGHT_GREY_6;
    border-radius: 50%;
    margin-bottom: 5px;
  }
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $LIGHT_GREY_6;
    > .title {
      font-family: Noto_Medium, sans-serif;
      font-size: $font_R;
      line-height: 20px;
      color: $REGULAR_GREY;
    }
  }
  .subTitle {
    font-size: $font_S;
    font-family: Noto_Medium, sans-serif;
  }
}

.fullLoginBtnCover {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  width: 100%;
  height: 38px;
  border-radius: 5px;
  margin-bottom: 10px;
  > img {
      width: 24px;
      height: auto;
      margin: 0 12px;
  }
  > span {
    font-family: Noto_Bold, sans-serif;
    font-size: $font_MR;
    color: $WHITE;
    line-height: 18px;
  }
}

.emptyLoginBtnCover {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border: 2px solid $MAIN_RED;
  height: 38px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  > img {
    width: 21px;
    height: auto;
    margin: 0 12px;
  }
  > span {
    font-family: Noto_Bold, sans-serif;
    font-size: $font_MR;
    color: $MAIN_RED;
    line-height: 18px;
  }
}

// Header.jsx
.header {
  @include minScreenWidth;
  display: flex;
  flex-direction: column;
  position: fixed;
  top:0;
  background-color: $WHITE;
  width: 100vw;
  flex-grow: 1;
  flex-shrink: 0;
  height: 55px;
  z-index: 100;
}

.headerCover {
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  height: 50px;
  width: 100%;
}

.headerCover  .logo {
  font-family: Noto_Bold, sans-serif;
  font-size: $font_XL;
  margin-left: 30px;
  letter-spacing: 0.1rem;
}

.sideMenuCover {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: 12px;
  a {
    display: flex;
    flex-grow: 0;
    justify-content: flex-end;
    width: 50px;
  }
  button {
    width: 100%;
    max-width: 40px;
    padding: 0 2px;
  }

}


.noticeBtnCover {
  position: relative;
}

.sideMenuCover  button > div {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 100%;
}

.shopBtn {
  background-image: $shopIcon;
  height: 25px
}

.noticeBtn {
  background-image: $noticeIcon;
  height: 25px;
  transform: translateY(5px);
}

.newNotice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  background-color: $REGULAR_RED;
  border-radius: 50%;
  border: 2px solid $WHITE;
  position: absolute;
  right: -6px;
  top: -6px;
  z-index: 10;
  font-family: Noto_Regular, sans-serif;
  font-size: $font_SSS;
  color: $WHITE;
}

.headerLine {
  width: 100%;
  height: 5px;
  background-color: $BG_GREY;
}

// HomeBottomTap.jsx
.tapCover{
  @include minScreenWidth;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 60px;
  padding: 6px 0;
  -webkit-box-shadow: 1px -2px 25px 17px rgba(191,191,191,0.38);
  box-shadow: 1px -2px 25px 17px rgba(191,191,191,0.38);
  border-radius: 20px 20px 0 0;
  background-color: $WHITE;
  z-index: 60;
}

.tapCover a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  padding: 0;
  margin-bottom: 5px;
}

.tapCover a div {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 100%;
  margin-bottom: 5px;
}

.tapCover span {
  font-family: Noto_Bold, sans-serif;
  color: $LIGHT_GREY;
  font-size: $font_S;

}

.homeBtn,
.feedBtn,
.miniGameBtn,
.myPageBtn {
  &:hover {
    @include hoverIconColor;
  }
}

.homeBtn div,
.feedBtn div,
.miniGameBtn div,
.myPageBtn div {
  filter: opacity(0.5) drop-shadow(0 0 0 $BLACK);

}

.homeBtn div{
  background-image: $homeIcon;
  height: 25px;
}

.feedBtn div{
  background-image: $feedIcon;
  height: 22px;
}

.QRBtn div{
  background-image: $QRIcon;
  height: 46px;
}

.miniGameBtn div{
  background-image: $miniGameIcon;
  height: 25px;
}

.myPageBtn div{
  background-image: $myPageIcon;
  height: 25px;
}

// home screen slide notice
.noticeSlideCover {
  overflow: hidden;
  position: fixed;
  top: 55px;
  background-color: $WHITE;
  width: 100%;
  z-index: 100;

  @keyframes rowSlide {
    from { transform: translateX(300px)}
    to { transform: translateX(-3000px)}
  }

  .noticeText {
    width: 100%;
    height: 35px;
    line-height: 1.6;
    font-size: $font_R;
    color: $DARK_GREY_2;
    padding: 5px 0;
    @include scrollBarNone1;
    @include scrollBarNone2;
    //@include AnimationRowSlide;
    > strong {
      display: inline-block;
      //width: 100%;
      overflow: scroll;
      flex-direction: row;
      animation: rowSlide 30000ms ease-in-out infinite;
      @include scrollBarNone1;
      @include scrollBarNone2;
    }

    > .noticeTextPoint {
      color: $MAIN_RED;
      margin:0 20px;
    }
  }

}

// caution
.cautionSection {
  text-align: center;
  border-top: 1px dashed $LIGHT_GREY_2;
  padding: 10px 0;
  margin: 0 21px 100px 21px;
  > strong {
      color: $LIGHT_GREY_1;
  }
}

// Title.jsx
.titleSection{
  //padding: 10px 0;
  > .date {
    color: $REGULAR_GREY;
    font-size: $font_R;
    font-family: Noto_Black, sans-serif;
    padding: 0 10px;
  }
  > .textCover {
    display: flex;
    align-items: flex-end;
    padding: 10px 0;

    > .line {
      width: 3.5px;
      height: 30px;
      background-color: red;
      margin-right: 8px;
    }
    > * {
      font-size: $font_title;
      color: $REGULAR_GREY;
    }
    > .textSecond {
      font-family: Noto_Light, sans-serif;
    }
  }
}

// QrCodePopup.jsx
@mixin responsive-box($height){
  position: relative;
  &:before{
    content: '';
    display: block;
    padding-top: $height;
  }
}
.qrPopupCover {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
  > .box {
    width: 80%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    @include responsive-box(100%);
    border-radius: 15px;
    background-color: $WHITE;
    > header {
      button {
        position: absolute;
        top:2%;
        right:0%;
        > img {
          width: 22px;
          height: auto;
        }
      }
    }
    > .qrImg {
      position: absolute;
      top: 47%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
      height: 50%;
      > svg {
        width: 100%;
        height: 100%;

      }
    }
    .downBtn {
      display: block;
      width: 120px;
      height: 30px;
      border-radius: 20px;
      border: 2px solid $LIGHT_GREY;
      margin: 20px auto;
      position: absolute;
      bottom: 10px;
      left: 50%;
      color: $LIGHT_GREY;
      font-size: $font_MR;
      font-family: Noto_Regular, sans-serif;
      transform: translateX(-50%);
    }
  }

}

// TextButton.jsx
.textBtnCover {
  a {
    margin: 0 4px;
    button {
      color: $REGULAR_GREY;
    }
  }
}

// RoundButton.jsx
.roundBtnCover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  border: 1px solid $REGULAR_GREY;
  border-radius: 20px;

  button {
    line-height: 2rem;
    font-size: $font-MR;
  }
}

// CheckBoxWithText.jsx
.checkBoxWithText {
    cursor: pointer;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  > .checkboxCover {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    > .checkboxLabel {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      > .checked {
        cursor: pointer;
        background-image: url("../../Assets/Images/icon/check.png");
        background-position:  center -50%;
        background-size:  cover;
        background-repeat: no-repeat;
      }
      > .checkbox {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 20px;
        height: 20px;
        border: 2px solid $REGULAR_GREY;
        border-radius: 4px;
        margin-right: 10px;
      }
      > .text {
        cursor: pointer;
        color: $REGULAR_GREY;
        margin-bottom: 4px;
        text-align: left;
        > strong {
          cursor: pointer;
          margin-right: 10px;
          font-size: $font_MR;
          line-height: 1;
          margin-bottom: 10px;
          height: 17px;
        }
      }
      > span {
        color : $LIGHT_GREY_1;
      }
    }
    > span {
      height: 17px;
      button {
        color: $MAIN_RED;
        font-size: $font_MR;
        line-height: 1;

      }
    }
  }
  > .subText {
    font-size: $font_M;
    color : $LIGHT_GREY_1;
    text-indent: 30px;
    margin: 5px 0;
  }
}

// UserIdWithIcon.jsx
.userIdWithIcon {
  display: flex;
  align-items: center;
  .icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  .userId {
    font-family: Noto_Medium, sans-serif;
    font-size: 15px;
    color: $REGULAR_GREY;
    line-height: 20px;
  }

}

// ToggleButton.jsx
.toggleButtonCover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 24px;
  background: #C4C4C4;
  border-radius: 22.8571px;
  box-shadow: inset 0px -1.14286px 4.57143px rgba(0, 0, 0, 0.25), inset 0px 1.14286px 4.57143px rgba(0, 0, 0, 0.25);
  div {
    width: 35.82px;
    height: 16.34px;
    font-family: 'Noto Sans TC', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 11.4286px;
    line-height: 18px;
    color: #4D4D4D;
    text-align: center;
  }
  > .toggleOn {
    width: 47.76px;
    height: 17.6px;
    font-size: 11.4286px;
    line-height: 18px;
    background: #F1F1F1;
    border-radius: 8.67051px;
  }
}

// ToggleGreenButton.jsx
.onToggleGreenButtonCover {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 70px;
  height: 24px;
  background: #88D73A;
  box-shadow: inset 0px -1.14286px 4.57143px rgba(0, 0, 0, 0.25), inset 0px 1.14286px 4.57143px rgba(0, 0, 0, 0.25);
  border-radius: 22.8571px;
  div {
    width: 17.6px;
    height: 17.6px;
    font-family: 'Noto Sans TC', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 11.4286px;
    line-height: 18px;
    color: #4D4D4D;
    text-align: center;
  }
  > .toggleOn {
    background: #FFFFFF;
    border-radius: 8.67051px;
  }
  > span {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    color: #294A07;
    margin-left: 10px;
  }
}

.offToggleGreenButtonCover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70px;
  height: 24px;
  background: #C4C4C4;
  border-radius: 22.8571px;
  box-shadow: inset 0px -1.14286px 4.57143px rgba(0, 0, 0, 0.25), inset 0px 1.14286px 4.57143px rgba(0, 0, 0, 0.25);
  div {
    width: 17.6px;
    height: 17.6px;
    font-family: 'Noto Sans TC', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 11.4286px;
    line-height: 18px;
    color: #4D4D4D;
    text-align: center;
  }
  > .toggleOn {
    background: #FFFFFF;
    border-radius: 8.67051px;
  }
  > span {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    color: #595959;
    margin-right: 10px;
  }
}



// PromptModalCover.jsx
.promptModalCover {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
  > .box {
    &:before {
      padding-top: 10%;
    }
    width: 80%;
    top:50%;
    left:50%;
    padding:0 21px 21px 21px;
    transform: translate(-50%,-50%);
    @include responsive-box(20%);
    border-radius: 15px;
    background-color: $WHITE;
    > h1 {
      font-family: 'Noto Sans TC';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      /* identical to box height, or 27px */

      text-align: center;
      margin-bottom: 20px;
      color: #7B7B7B;
    }
    > .inputCover {
      position: relative;
      font-family: 'Noto Sans TC';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 220%;
      margin-bottom: 20px;
      /* identical to box height, or 29px */
      text-align: right;
      color: #656565;
      > span {
        position: absolute;
        top: 4px;
        right: 10px;
      }
    }
    > .btnCover {
      text-align: center;
      button {
        width: 68px;
        height: 27px;
        border-radius: 20px;
        font-family: 'Noto Sans TC';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        /* identical to box height */
        text-align: center;
        color: #FFFFFF;
        margin: 0 5px;
      }
      > .cancel {
        background: #7B7B7B;
      }
      > .ok {
        background: #FF6565;
      }
    }
  }

}

// LineButtonCover.jsx
.LineButtonCover {
  border-radius: 20px;
  border: 2px solid $LIGHT_GREY;
  padding: 2px 18px;
  > span {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #7B7B7B;

  }
}