// sass-lint:disable-all
// image url
$homeIcon : url('../../Assets/Images/icon/icon-home.png');
$feedIcon : url('../../Assets/Images/icon/icon-feed.png');
$QRIcon : url('../../Assets/Images/icon/chara.png');
$miniGameIcon : url('../../Assets/Images/icon/icon-minigame.png');
$myPageIcon : url('../../Assets/Images/icon/icon-mypage.png');
$shopIcon : url('../../Assets/Images/icon/shop.png');
$noticeIcon : url('../../Assets/Images/icon/notice.png');


// common style
* {
  font-family: Noto_Regular, sans-serif;
}
.App {
  margin: 55px 0 100px 0;
}

@keyframes fadeinOutIcon {
  0%{opacity: 0.1}
  20%{opacity: 0.2}
  50%{opacity: 0.5}
  80%{opacity: 0.8}
  100%{opacity: 1}
}

// Loading.jsx
.loadingCover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 500;

  .loadingImg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50px;
    height: 50px;
    animation: fadeinOutIcon 2000ms ease-in-out 500ms infinite;
  }
}

.colorBtnCover {
  text-align: center;
  width: 100%;
  min-width: 96px;
  height: 36px;
  border-radius: 20px;
  margin: 2px;

  .text {
    font-family: Noto_Medium, sans-serif;
    font-size: $font_RR;
    color: $WHITE;
    line-height: 25px;
  }
}

// Header.jsx
.header {
  display: flex;
  flex-direction: column;
  position: fixed;
  top:0;
  background-color: $WHITE;
  width: 100%;
  height: 55px;
  z-index: 100;
}

.headerCover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  height: 50px;
  width: 100%;
}

.headerCover  .logo {
  font-family: Noto_Bold, sans-serif;
  font-size: $font_XL;
  margin-left: 30px;
  letter-spacing: 0.1rem;
}

.sideMenuCover {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: 12px;
}

.sideMenuCover button {
  width: 20%;
  max-width: 55px;
  padding: 0 2px;
}

.noticeBtnCover {
  position: relative;
}

.sideMenuCover  button > div {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 100%;
}

.shopBtn {
  background-image: $shopIcon;
  height: 30px
}

.noticeBtn {
  background-image: $noticeIcon;
  height: 30px;
  transform: translateY(5px);
}

.newNotice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  background-color: $REGULAR_RED;
  border-radius: 50%;
  position: absolute;
  right: 2px;
  z-index: 10;
  font-family: Noto_Bold, sans-serif;
  font-size: $font_SS;
  color: $WHITE;
}

.headerLine {
  width: 100%;
  height: 5px;
  background-color: $BG_GREY;
}

// HomeBottomTap.jsx
.tapCover{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 6px 0;
  -webkit-box-shadow: 1px -2px 25px 17px rgba(191,191,191,0.38);
  box-shadow: 1px -2px 25px 17px rgba(191,191,191,0.38);
  border-radius: 20px 20px 0 0;
  background-color: $WHITE;
}

.tapCover a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  padding: 0;
  margin-bottom: 5px;
}

.tapCover a div {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 100%;
  margin-bottom: 5px;
}

.tapCover span {
  font-family: Noto_Bold, sans-serif;
  color: $LIGHT_GREY;
  font-size: $font_S;

}

.homeBtn,
.feedBtn,
.miniGameBtn,
.myPageBtn {
  &:hover {
    @include hoverIconColor;
  }
}

.homeBtn div,
.feedBtn div,
.miniGameBtn div,
.myPageBtn div {
  filter: opacity(0.5) drop-shadow(0 0 0 $BLACK);

}

.homeBtn div{
  background-image: $homeIcon;
  height: 25px;
}

.feedBtn div{
  background-image: $feedIcon;
  height: 22px;
}

.QRBtn div{
  background-image: $QRIcon;
  height: 46px;
}

.miniGameBtn div{
  background-image: $miniGameIcon;
  height: 25px;
}

.myPageBtn div{
  background-image: $myPageIcon;
  height: 25px;
}

// home screen slide notice
.noticeSlideCover{
  overflow: hidden;
  position: fixed;
  top: 55px;
  background-color: $WHITE;
  width: 100%;
  z-index: 100;
}

.noticeText {
  width: 100%;
  height: 35px;
  line-height: 1.6;
  font-size: $font_R;
  color: $DARK_GREY_2;
  padding: 5px 0;
  @include AnimationRowSlide;
  @include scrollBarNone1;
  @include scrollBarNone2;

}

.noticeTextPoint {
    color: $MAIN_RED
}

// caution
.cautionSection {
  text-align: center;
  border-top: 1px dashed $LIGHT_GREY_2;
  padding: 10px 0;
  margin: 0 21px 100px 21px;
  > strong {
      color: $LIGHT_GREY_1;
  }
}

// Title.jsx
.titleSection{
  padding: 21px;
  > .date {
    color: $REGULAR_GREY;
    font-size: $font_R;
    font-family: Noto_Black, sans-serif;
    padding: 0 10px;
  }
  > .textCover {
    display: flex;
    align-items: flex-end;
    padding: 10px 0;

    > .line {
      width: 3.5px;
      height: 30px;
      background-color: red;
      margin-right: 8px;
    }
    > * {
      font-size: $font_title;
      color: $REGULAR_GREY;
    }
    > .textSecond {
      font-family: Noto_Light, sans-serif;
    }
  }
}