// FeedCircleBtn.jsx
.feedCircleBtnCover {
  display: flex;
  overflow-y: scroll;
  @include scrollBarNone1;
  @include scrollBarNone2;
  width: 100%;
  border-bottom: 3px solid $BG_GREY;
  padding-bottom: 20px;
}

// FeedScreenCover.jsx
.feedScreenCover {
  > h1 {
    padding: 10px 21px;
    margin-bottom: 20px;
  }
  > .noNewsYet{
    border-radius: 15px;
    border: 1px solid #C2C2C2;
    padding: 10px;
    text-align: center;
    margin: 21px;
    > spna {
      color: #656565;
    }
  }
}

// FeedContents.jsx
.feedContentsCover {
  padding: 21px;
  display: flex;
  flex-direction: column;
}

// FeedCard.jsx
.feedCardCover {
  border: 1px solid $LIGHT_GREY_6;
  padding: 10px 15px;
  border-radius: 15px;
  margin-bottom: 10px;
  > header {
    > .title {
        margin-bottom: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #656565;
        text-align: left;
      }
    > .subTitle {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 15px;
      color: #C4C4C4;
      > .issueCover {
        display: none;
      }
    }
  }
  > .main {
    border-top: dashed 1px $LIGHT_GREY_6;
    border-bottom: dashed 1px $LIGHT_GREY_6;
    padding: 10px 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    color: #656565;
    margin-bottom: 10px;
    min-height: 130px;
    max-height: 140px;
    text-align: left;
    > .count {
      //display: none;
    }
  }
  > footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
     .category {
      font-size: 11px;
      color: #656565;
      background-color: $LIGHT_GREY_5;
      padding: 4px 10px;
      border-radius: 15px;
    }
  }
}

 .btnCover {
  display: flex;
  align-items: center;
  > .heart {
    > img {width: 16px;}
  }
  > .comment {
    > img {width: 15px;}
  }
  > button {
    padding: 0 2px;
    display: flex;
    justify-content: center;
    align-content: center;
    > img {
      width: 15px;
      margin:0 2px;
    }
    > span {
      font-size: 11px;
      color: #7B7B7B;
      margin:0 2px;
    }
  }
}

.halfImgType {
  > header {
    > .subTitle {
      > .issueCover {
        display: none;
      }
    }
  }
  > .main {
    display: flex;
    > p {
      width: 48%;
      margin-right: 10px;
    }
    > .img {
      width: 48%;
      overflow: hidden;
      background-color: $LIGHT_GREY_5;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      > img {
        width: 100%;
      }
    }
  }
}
.fullImgType {
  > header {
    > .subTitle {
      > .issueCover {
        display: none;
      }
    }
  }
  > .main {
    > p {
      display: none;
    }
    > .img {
      width: 100%;
      height: 130px;
      overflow: hidden;
      background-color: $LIGHT_GREY_5;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
       img{
        width: 100%;
      }
    }
  }
}
.onlyText {
  > header {
    > .subTitle {
      > .issueCover {
        display: none;
      }
    }
  }
  > .main {
    > p {
      text-align: left;
    }
    > .img {
      display: none;
    }
  }
}
.lotto {
  > header {
    > .title {
      font-family: 'Noto Sans TC';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      border-bottom: 1px dashed $LIGHT_GREY_5;
    }
    > .subTitle {
      justify-content: center;
      > .userIdWithIcon {
          display: none;
      }
      > .dateCover {
        > .date {
          color : $REGULAR_GREY;
        }
        > .time{
          display: none;
          color: $REGULAR_GREY;
        }
      }
      > .issueCover {
        display: flex;
        color : $REGULAR_GREY;
      }
    }
  }
  > .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid $LIGHT_GREY_5;
    border-bottom: 1px dashed $LIGHT_GREY_5;
    min-height: 0;
    padding-bottom: 0;
    > .img {
      display: none;
    }
    > p {
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      > .num {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        margin: 0 2px;
        border-radius: 50%;
        background-color: $LIGHT_RED;
        color: $WHITE;
      }
      > .bonusNum {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #FFDA7C;
        color: $LIGHT_RED;
        flex-grow: 0;
        flex-shrink: 1;
        margin-left: 12px;
        margin-right: 2px;
        &:before {
          content: '';
          position: absolute;
          display: block;
          background-image: url('../../Assets/Images/icon/plus-icon.png');
          background-size: 10px 10px;
          background-repeat: no-repeat;
          background-position: center center;
          width: 10px;
          height: 10px;
          right: 105%;
        }
      }
    }
    > .count {
      border-top: 1px solid $LIGHT_GREY_5;
      padding: 6px 0;
      > span {
        display: inline-block;
      }
      > .text {
        width: 20%;
      }
      > .num {
        width: 25%;
      }
      > .money {
        width: 55%;
        text-align: right;
      }
    }
  }
}
.noWriter {
  > header {
    > .subTitle {
      justify-content: flex-end;
      > .userIdWithIcon {
        display: none;
      }
    }
  }
  > .main {
    >.img {
      display: none;
    }
  }
}
.mail {
  > footer {
    > .btnCover {
        display: none;
    }
  }
}

// FeedCardDetailScreen.jsx
.feedCardDetailCover {
  padding: 10px 21px;
  > h1 {
    margin-bottom: 20px;
  }
  > .contents {
    > .title {
      border-radius: 5px;
      background-color: $REGULAR_RED;
      color: $WHITE;
      padding: 12px 18px;
      margin-bottom: 10px;
      > p {
        font-family: 'Noto Sans TC';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        color: #FFFFFF;
        margin-bottom: 4px;
        line-height: 1.5;
      }
      > div {
        display: flex;
        justify-content: space-between;
        > .userIdWithIcon {
          > .icon {
            width: 19px;
            height: 19px;
          }
          > .userId {
            color: #7B0000;
            font-family: 'Noto Sans TC';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
          }
        }
        > span {
          color: #7B0000;
          font-family: 'Noto Sans TC';
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
        }
      }


    }
    > .desc {
      font-family: 'Noto Sans TC';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 150%;
      color: #656565;
      border-radius: 5px;
      border: 1px solid $LIGHT_GREY_6;
      padding: 12px 16px;
      margin-bottom: 10px;

      > img {
        width: 100%;
      }
    }
  }
  > footer {
    > .btnCover {
      display: flex;
      margin-bottom: 20px;
    }
  }
  > .commentCover {
    > .writeCover {
      margin-bottom: 40px;
      text-align: right;
    }
  }
}

// FeedCommentsList.jsx
 .commentsListCover {
  > h1 {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 10px;
  }
  > .list {
    border: 1px solid #C2C2C2;
    border-radius: 5px;
    padding: 5px 15px;
   > ul {
     > .noData {
       font-family: 'Noto Sans TC';
       font-style: normal;
       font-weight: 400;
       font-size: 15px;
       text-align: center;
       color: #656565;

     }
     > li {
       display: flex;
       flex-direction: column;
       border-bottom: 1px solid #E6E6E6;
       padding: 10px 0;
       > .title {
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin-bottom: 10px;
         > button {
           background-image: url("../../Assets/Images/icon/menuDotIcon.png");
           width: 4px;
           height: 16px;
           background-repeat: no-repeat;
           background-size: contain;
           background-position: center center;
         }
       }
       > p.contents {
         display: flex;
         align-items: center;
         font-family: 'Noto Sans TC';
         font-style: normal;
         font-weight: 400;
         line-height: 1.5;
         font-size: 13px;
         color: #656565;
         margin-bottom: 4px;
       }
       > span.date {
         display: flex;
         justify-content: flex-end;
         align-items: center;
         font-family: 'Noto Sans TC';
         font-style: normal;
         font-weight: 400;
         font-size: 13px;
         color: #C4C4C4;
       }
     }
   }
    > .paginationCover {
      margin-bottom: 10px;
    }
  }
}

// LottoButton.jsx
.lottoButtonCover {
  position: relative;
  margin: 21px 21px 0 21px;
  border: 1px solid $LIGHT_GREY_6;
  border-radius: 10px;
  padding: 30px 10px 10px 10px;
  > h1 {
    position: absolute;
    top:-15px;
    left: 20px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #595959;
    background-color: $WHITE;
    padding: 5px;
  }
  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > button {
      width: 30%;
      border-radius: 10px;
      padding: 5px 10px;
      transition: all 300ms;
    }
    > button.daily {
      border: 1px solid $ORANGE;
      color: $ORANGE;
      &:hover{
        background-color:$ORANGE;
        color: $WHITE;
      }
    }
    > button.big {
      border: 1px solid $DARK_BLUE;
      color: $DARK_BLUE;
      &:hover{
        background-color:$DARK_BLUE;
        color: $WHITE;
      }
    }
    > button.super {
      border: 1px solid $MAIN_RED;
      color: $MAIN_RED;
      &:hover{
        background-color:$MAIN_RED;
        color: $WHITE;
      }
    }
  }
}

// FeedLottoListScreen.jsx
.feedLottoListCover{
  > .feedLottoTitleCover{
      padding: 10px 21px;
    > h1 {
      margin-bottom: 20px;
    }
    > .titleCover {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 5px;
      padding: 15px;
      height: 70px;
      margin-bottom: 10px;
      > img {
        width: 30%;
      }
      > span {
        color: $WHITE;
      }
    }
    > .paginationCover {
      margin-bottom: 0;
    }
  }

}

// FeedCardLottoDetailScreen.jsx
.feedCardLottoDetailCover {
  padding: 10px 21px;
  > h1 {
    margin-bottom: 20px;
  }
  > .contents {
    > .title {
      border-radius: 5px;
      background-color: $REGULAR_RED;
      color: $WHITE;
      padding: 12px 18px;
      margin-bottom: 10px;
      > p {
        font-family: 'Noto Sans TC';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        color: #FFFFFF;
        margin-bottom: 4px;
        line-height: 1.5;
      }
      > div {
        display: flex;
        justify-content: space-between;
        > span {
          color: $WHITE;
          font-family: 'Noto Sans TC';
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
        }
      }


    }
    > .desc {
      color: #656565;
      border-radius: 5px;
      border: 1px solid $LIGHT_GREY_6;
      padding: 21px 18px;
      margin-bottom: 10px;

      > .lottoNum {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        > li {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 13px;
          width: 30px;
          height: 30px;
          margin: 0 1px;
          border-radius: 50%;
        }
        > li.num {
          background-color: $LIGHT_RED;
          color: $WHITE;
        }
        > li.bonusNum {
          position: relative;
          background-color: #FFDA7C;
          color: $LIGHT_RED;
          flex-grow: 0;
          flex-shrink: 1;
          margin-left: 12px;
          margin-right: 2px;
          &:before {
            content: '';
            position: absolute;
            display: block;
            background-image: url('../../Assets/Images/icon/plus-icon.png');
            background-size: 10px 10px;
            background-repeat: no-repeat;
            background-position: center center;
            width: 10px;
            height: 10px;
            right: 105%;
          }
        }
      }
      > .rank {
        width: 100%;
        > li {
          display: flex;
          align-items: center;
          border-top: 1px solid #DADADA;
          padding: 8px 2px;
          &:last-child {
            border-bottom: 1px solid #DADADA;
          }
          > strong {
            display: inline-block;
            font-family: Noto_Light, 'sans-serif';
            font-style: normal;
            font-size: 12px;
            color: #656565;
          }
          .rankText {
            width: 15%;
          }
          .winningNumCount {
            width: 35%;
          }
          .winnerCount {
            width: 20%;
          }
          .winMoney {
            width: 30%;
            text-align: right;
          }
        }
        > .rankHeader {
          > strong {
            font-weight: 700;
            font-family: Noto_Bold, 'sans-serif';
          }
        }
        > .pointLow {
          > strong {
            color: $MAIN_RED;
          }
        }
      }

    }
  }
  > footer {
    > .btnCover {
      display: flex;
      margin-bottom: 20px;
    }
  }
  > .commentCover {
    > .writeCover {
      margin-bottom: 40px;
      text-align: right;
    }
  }
}