// HomeScreen.jsx
.HomeScreen {
  overflow: hidden;
  margin-top: 100px;
}

.slideBannerCover {
  display: flex;
  flex-direction: row;
  //@include scrollBarNone1;
  //@include scrollBarNone2;
  @include stopTextDragging;
}

// Accumulate.jsx
.accumulateSection{
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 21px;
  padding:10px 10px 5px 10px;
  border-radius: 15px;
  @include minScreenWidth;
  @include sectionBoxShadow;

  > div {
     margin-bottom: 10px;
  }

  > .title{
    display: flex;
    align-items: flex-end;
    height: 50px;
    > * {
      margin: 0 4px;
    }
    img{
      width: 100px;
    }
    h1{
      font-weight: bold;
      color: $LIGHT_GREY;
      font-size: $font_RR;
      margin-bottom: 5px;
    }

  }
  > .amount{
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    > * {
      margin: 0 2px;
    }
    strong{
      font-family: Noto_Black, sans-serif;
      font-weight: bold;
      color: $ORANGE;
      font-size: $font_XXL;
    }
    span{
      color: $LIGHT_GREY;
      font-size: $font_R;
    }

  }
  > .date{
    > * {
      margin: 0 10px;
    }
    span{
      color: $LIGHT_GREY;
      font-size: $font_R;
    }

  }
}

// Winning.jsx
.winningSection {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 21px;
  padding:10px 8px 8px 8px;
  border-radius: 15px;
  cursor: pointer;
  @include minScreenWidth;
  @include sectionBoxShadow;

  > .cover {
    display: flex;
    width: 100%;
    padding: 10px 10px 0 10px;
    margin-bottom: 20px;

    > .subCover {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-grow: 1;
      justify-content: space-around;
      > img {
        width: auto;
        height: 50px;
      }
      &:first-child {
        border-right: 1px solid $LIGHT_GREY_2;
      }
      > .textCover {
        display: flex;
        flex-direction: column;
        color: $LIGHT_GREY;
        > * {
          margin-bottom: 5px;
        }

        > .numberCover {
          > * {
            margin-right: 2px;
          }
          strong {
            color: $ORANGE;
            font-family: Noto_Black, sans-serif;
            font-size: $font_XXL;
            line-height: 1;
          }
          span {
            color: $LIGHT_GREY;
            font-size: $font_RR;
            line-height: 1.5;
          }
        }
      }

    }

  }

  > .moreBtn{
    width: 100%;
    color: $ORANGE;
    font-size: $font_M;
    height: 20px;
    background-color: $BEIGE;
    border-radius: 20px;
  }

}

// GuideBanner.jsx
.guideBannerSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 21px;
  @include minScreenWidth;
}

// HomeMenu.jsx
.homeMenuSection {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 100%;

  > .menuCover {
    width: 33%;
    flex-grow: 1;
    margin-bottom: 20px;
    > a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      > img {
        width: 40px;
        height: auto;
        margin-bottom: 10px;
      }
      > span {
        color: $LIGHT_BLACK;
        font-size: $font_M;
      }
    }
  }


}

// AdBanner.jsx
.AdBannerSection {
    display: flex;
    padding: 50px 0 60px 0;
    position: relative;
    //@include scrollBarNone1;
    //@include scrollBarNone2;
    .arrowR {
      position: absolute;
      top:50%;
      left:25px;
      transform: translateY(-50%);
      padding: 5px;
      z-index: 50;
      height: 100%;
      img {
        width: 10px;
        transform: rotate(180deg);
      }
      :hover {
        transform: scale(1.5)  rotate(180deg);

      }
    }
    .arrowL {
      position: absolute;
      top:50%;
      right: 25px;
      transform: translateY(-50%);
      padding: 5px;
      z-index: 50;
      height: 100%;
      img {
        width: 10px;

      }
      :hover {
        transform: scale(1.5);
      }
    }
    > .AdBannerCover {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      flex-shrink: 0;
      position: relative;
      margin: 0 21px;
      > a {
        position: relative;
        > img {
          border-radius: 20px;
          overflow: hidden;
          @include sectionBoxShadow;
        }
        > .index {
          position: absolute;
          bottom: 15px;
          right: 15px;
          border-radius: 10px;
          background-color: $BLACK;
          opacity: 0.7;
          color: $WHITE;
          font-size: $font_S;
          font-family: Noto_Light, sans-serif;
          padding: 2px 8px;
        }
      }
    }
}

// home menu
// winningBox.jsx
.boxSectionCover{
  padding: 21px;
  margin-bottom: 20px;

  .boxCover {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    border-radius: 15px;
    padding: 6px 10px 6px 10px;
    @include minScreenWidth;
    @include sectionBoxShadow;

    > li {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      justify-content: space-between;
      border-bottom: 1px solid $BG_GREY;
      padding: 8px;
      > span {
        color: $LIGHT_GREY;
        font-size: $font_R;
        width: 25%;
      }
      > div {
        font-size: $font_R;
        width: 37%;
        text-align: right;
        > span {
          color: $LIGHT_GREY;
        }
        > strong {
          color: $DARK_GREY_1;
        }
      }
    }
    li:last-child {
      border: none;
    }
  }
  .titleIcon {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }
}

.winningBtn {
  display: flex;
  flex-grow: 0;
  justify-content: flex-end;
  text-align: right;
  margin: 0 21px 100px 21px;
}

// Analytics common style
.sectionBoxCover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 10px 5px 10px;
  border: 1px solid $LIGHT_GREY_2;
  border-radius: 10px;
  margin: 35px 21px;
  position: relative;
  .issue {
    position: absolute;
    top: -15%;
    background-color: $WHITE;
    padding: 10px;
    font-size: 15px;
    color: $DARK_GREY_2;
  }
  .lottoNumCover {
    margin: 12px 0;
    display: flex;
    flex-direction: row;
  }
  .lottoNum {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 2px;
    background-color: $LIGHT_GREY_3;
    font-size: 15px;
    color: $LIGHT_GREY;
  }
   .bonusNum {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 30px;
    height: 30px;
     font-size: 15px;
    border-radius: 50%;
    background-color: #FFDA7C;
    color: $LIGHT_RED;
    flex-grow: 0;
    flex-shrink: 1;
     margin: 0 2px 0 12px;
    &:before {
      content: '';
      position: absolute;
      display: block;
      background-image: url('../../Assets/Images/icon/plus-icon.png');
      background-size: 10px 10px;
      background-repeat: no-repeat;
      background-position: center center;
      width: 10px;
      height: 10px;
      right: 105%;
    }
  }
  .even {
    color: $LIGHT_RED;
    background-color: transparent;
    border: 1px solid $LIGHT_RED;
  }
  .odd {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $NEON_BLUE;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $NEON_BLUE;
  }
   .line{
    padding: 0 10px;
    font-size: 13px;
    color: $LIGHT_GREY_2;
    margin: 10px 0;
    text-align: center;
  }
  .lottoNumFontPoint {
    color: $LIGHT_RED;
  }
  .lottoPointBall {
    background-color: $LIGHT_RED;
    color: $WHITE;
  }
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $LIGHT_GREY_3;
    margin: 0 2px;
    width: 30px;
    height: 30px;
  }
  .circleFont {
    color: $LIGHT_GREY;
    font-size: 15px;
  }
  .countFont {
    color: $REGULAR_GREY;
    font-size: 14px;
    margin: 0 7px;
  }
}

//WinningPerIssue.jsx
.WinningPerIssue {
  > .indexCover {
    border-top: 1px solid $LIGHT_GREY_2;
    border-bottom: 1px solid $LIGHT_GREY_2;
  }
  > .indexCover,
  > .contentsCover{
    display: flex;
    padding: 6px 0;
    justify-content: space-between;
    width: 100%;
    > li {
      color: $DARK_GREY_2;
      width: 25%;
      text-align: center;
      font-size: 14px;
    }
  }

}

// AmountPerIssue.jsx
.AmountPerIssue {
  .indexCover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    border-top: 1px solid $LIGHT_GREY_2;
    padding: 6px 0;
    > .indexSubCover{
      display: flex;
      justify-content: space-between;
      width: 35%;
    }
    .indexFont{
      font-size: 14px;
      color: $DARK_GREY_2;
      text-align: center;
    }
  }

}

// ContinuousPerIssue.jsx
.ContinuousPerIssue {
  .lottoNumRedFont{
    color: $LIGHT_RED;
  }
 .indexCover {
   display: flex;
   justify-content: center;
   width: 100%;
   padding: 4px 0;
   > .indexFont {
      font-size: 14px;
      color: $DARK_GREY_2;
      text-align: center;
      margin: 10px 0;
   }
 }
}

// OddEvenPerIssue.jsx
.OddEvenPerIssue {
  .lottoNum {
    background-color: transparent;
  }
}

// SizePerIssue.jsx
.SizePerIssue {
  .lottoNum {
    background-color: transparent;
  }
}

// MantissaPerIssue.jsx
.MantissaPerIssue {
  > .indexCover {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: $DARK_GREY_2;
    text-align: center;
    > .indexFont {
      font-size: 14px;
      color: $DARK_GREY_2;
      text-align: center;
    }
  }
}

// LianPerIssue.jsx
.LianPerIssue {

}

// AdjacentPerIssue.jsx
.AdjacentPerIssue {

}

// QualityPerIssue.jsx
.QualityPerIssue {
  .indexCover {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content:center;
    text-align: center;
    border-top: 1px solid $LIGHT_GREY_2;
    padding: 6px 0;
  }
  .indexFont {
    width: 33%;
    font-size: 14px;
    color: $DARK_GREY_2;
  }
}

// CooperatePerIssue.jsx
.CooperatePerIssue {
  display: flex;
  padding: 50px 21px;
  .sectionBoxCover{
    flex-grow: 1;
    margin: 5px;
  }
  .titleFont {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $WHITE;
    padding: 10px;
    font-size: 15px;
  }
  .rowCover {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid $LIGHT_GREY_2;
    padding: 7px 0;
  }
  .circleCover {
    display: flex;
    margin: 0 7px;
  }
}

// UncombinePerIssue.jsx
.UncombinePerIssue {
  .columnCover {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }
  .rowCover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $LIGHT_GREY_2;
    padding-bottom: 7px;
    margin: 7px 5px 0 0;
    width: 47%;
    max-width: 155px;
  }
  .countFont {
    margin: 0;
  }

}

// ACvaluePerIssue.jsx
.ACvaluePerIssue {
  .issue {
    top: -20px
  }
  .indexCover {
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-top: 1px solid $LIGHT_GREY_2;
    padding: 8px 0;

    > li {
      flex-grow: 1;
      flex-shrink: 0;
      font-size: 14px;
      color: $DARK_GREY_2;
    }
  }
}

// DistributionPerIssue.jsx
.DistributionPerIssue {
  > .sectionBoxCover {
    padding: 20px 10px;
  }
  .issue {
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
  }
  .numBoxCover {
    display: flex;
    flex-wrap: wrap;
    width: 310px;
    align-items: center;

    .numBox {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 23px;
      height: 23px;
      background-color: $LIGHT_GREY_3;
      color: $REGULAR_GREY;
      margin: 4px;
      font-size: 14px;
    }
    .pickNumBox {
      background-color: $LIGHT_RED;
      color: $WHITE;
    }
    .bigPickNumBox {
      background-color: $LIGHT_YELLOW;
      color: $LIGHT_RED;
    }
  }
  .snBoxCover {
      display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    > .snBox {
      width: 23px;
      height: 23px;
      background-color: $LIGHT_GREY_3;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $REGULAR_GREY;
      margin: 4px;
      font-size: 14px;
    }
    .pickSnBox {
      background-color: $LIGHT_YELLOW;
      color: $LIGHT_RED;
    }
  }
}

// RowBarGraph.jsx
.chartCover {
  position: relative;
  margin-top: 20px;
  .lineCover{
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 75%;
    .line {
      width: 1px;
      height: 2000px;
      background-color: #C9C9C9;
    }
    .boldLine {
      width: 2px;
      height: 2000px;
      background-color: #DEDEDE;
    }
  }
  .xLabelCover {
    position: absolute;
    right: -5px;
    top: -20px;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    width: 77%;
    color: $LIGHT_GREY;
  }
  .rowCover {
    display: flex;
    .yLabelCover {
      width: 25%;

      .yLabelSubCover {
        height: 35px;
        display: flex;
        align-items: center;
      }
      .labelCircle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 29px;
        height: 29px;
        border-radius: 50%;
        background-color: $LIGHT_GREY_3;
      }
      .yLabelFont {
        display: flex;
        align-items: center;
        height: 35px;
        margin: 5px 0;
        font-size: 10px;
        color: $LIGHT_GREY;
      }
    }
  }
  .barCover {
    width: 75%;
  }
  .barSubCover {
    height: 35px;
    display: flex;
    align-items: center;

  }
  .bar {
    background-color: red;
    height: 19px;
    max-width: 270px;
    z-index: 10;
    > .barNum {
      color: $WHITE;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 19px;
      font-size: 8.5px;
      font-weight: bold;
      padding: 0 4px;
    }
  }
}

// SumNumberPerIssue.jsx
.SumNumberPerIssue {
  padding: 21px;
}

// SumMantissaPerIssue.jsx
.SumMantissaPerIssue {
  padding: 21px;
}

// FrequencyPerIssue.jsx
.FrequencyPerIssue {
  padding: 21px;
  .lineCover {
    width: 85%;
  }
  .chartCover .rowCover .yLabelCover {
    width: 15%;
  }
  .chartCover .barCover {
    width: 85%;
  }
}

// ContentsTitleSection.jsx
.ContentsTitleSection {
  padding: 21px;
  .subCover {
    > .title {
      font-size: 18px;
      font-weight: bold;
    }
  }
  .subTitleCover {
    position: relative;
    text-align: center;
    .line {
      margin: 10px 0;
      width: 100%;
      height: 2px;
    }
    .subTitle {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      color: $REGULAR_GREY;
      margin-top: 4px;
      margin-bottom: 15px;
    }
  }
  .modalBtn {
    position: absolute;
    top: 0;
    right: 0;
    .info {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: red;
      font-size: 11px;
      color: $WHITE;
      font-weight: bold;
      text-align: center;
    }

  }

  .sizeCover {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    > div {
      width: 30px;
      height: 30px;
      display: flex;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      margin: 0 5px;
    }
    .odd, .sizeSmall {
      border: 1px solid $LIGHT_RED;
      color: $LIGHT_RED;
    }
    .even, .sizeBig {
      border: 1px solid $NEON_BLUE;
      color: $NEON_BLUE;
    }
    .sizeSmall, .sizeBig {
      padding: 0 5px;
    }
    .sizeSmallFont {
      color: $LIGHT_RED;
      font-size: 15px;

    }
    .sizeBigFont {
      color: $NEON_BLUE;
      font-size: 15px;
      margin: 0 6px;
    }
  }

  .mantissaCover {
    .mantissaText {
      color: $REGULAR_GREY;
      font-size: 12px;
      text-align: right;
    }
  }
}

// ColumnBarGraph.jsx
.ColumnBarGraph {
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 150px;
  margin: 20px 0;
  .lineCover {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 130px;
    li {
      width: 100%;
      height: 1px;
    }
    .line {
      background-color: #C9C9C9;
    }
    .boldLine {
      height: 2px;
      background-color: #DEDEDE;
    }
    .pointLine {
      height: 2px;
    }

  }
  .yLabelCover {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    top: -5%;
    left: 0;
    height: 150px;
    width: 6%;
    font-size: 14px;
    color: $LIGHT_GREY;
  }
  .xLabelCover {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    right: 0;
    width: 90%;
    font-size: 10px;
    color: $LIGHT_GREY;
    > li {
      width: 18px;
    }
  }
  .barCover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 130px;
    width: 90%;
    margin: 0;
    .bar {
      width: 20px;
      margin-right: 4px;
      max-height: 150px;
      right: 0;
      background-color: red;
      z-index: 20;
    }
  }
}



// WinningScreen.jsx
.winningScreenCover {
 > h1 {
   padding:0 21px;
 }
}
// winningListScreen.jsx
.winningListCover {
  > h1 {
    padding: 0 21px;
  }
  @include minScreenWidth;
  > .btnCover {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding:0 21px;
    margin-bottom: 36px;
    > a {
        width: 33%;
        margin: 0 7px;
    }
  }

  .indexCover {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid $LIGHT_GREY_6;
    padding: 12px;
    margin: 0 21px 11px 21px;
  }
  > span {
    font-family: Noto_Bold, sans-serif;
    font-size: $font_R;
    color: $REGULAR_GREY;
    font-weight: bold;
  }
  .date {
    width: 25%;
    text-align: center;
  }
  .awards {
    width: 15%;
    text-align: center;
  }
  .bonus {
    width: 20%;
    text-align: right;
  }
  .id {
    width: 35%;
    text-align: center;
  }
}

.listCover {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border: 1px $LIGHT_GREY_6 solid;
  margin: 0 21px;
  padding: 0 13px;

  > li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px $LIGHT_GREY_2 solid;
    padding: 10px;

    > span {
      color : $LIGHT_GREY;
      font-family: Noto_Regular, sans-serif;
      font-size: $font_R;
    }
    .date {
      width: 25%;
      text-align: center;
    }
    .awards {
      width: 15%;
      text-align: center;
    }
    .bonus {
      width: 20%;
      text-align: right;
    }
    .id {
      width: 35%;
      text-align: left;
      margin-left: 10px;
    }
  }
}

// AnalyticsScreen.jsx
.analyticsCover {
  @include minScreenWidth;
  padding: 20px 0;
  > .lottoCover{
    display: flex;
    width: 100%;
    padding: 0 15px;
    margin-bottom: 21px;
    > button {
      width: 33%;
      height: 110px;
      border-radius: 20px;
      margin: 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include sectionBoxShadow;
      > .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 8px;
        > img {
          width: 100%;
          max-width: 70px;
          margin-bottom: 14px;
        }
        > strong {
          font-size: $font_MR;
          color: $REGULAR_GREY;
        }
      }
      }
    }
    > a {
      display: flex;
      justify-content: center;
      margin: 0 21px 200px 21px;
      border-radius: 20px;
      padding: 20px;
      height: 110px;

      @include sectionBoxShadow;
      .systemBox {
        display: flex;
        justify-content: center;
        align-items: center;
        > img {
          width: 80px;
          margin: 6px 10px 0 10px;
        }
        > strong {
          font-size: $font_MR;
          color: $REGULAR_GREY;
        }
      }
  }
}

// AnalyticsListScreen.jsx
.analyticsListCover {
    @include minScreenWidth;
   .titleCover {
      padding: 10px 21px;
     margin-bottom: 10px;
  }
   .btnCover {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding:0 21px;
    margin-bottom: 20px;
    > button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33%;
      margin: 0 7px;
    }
  }
}

// AnalyticsCircleBtn.jsx
.analyticsCircleBtnCover {
  display: flex;
  overflow-y: scroll;
  @include scrollBarNone1;
  @include scrollBarNone2;
  width: 100%;
  border-bottom: 3px solid $BG_GREY;
  padding: 0 18px 21px 18px;
}

// PressScreen.jsx
.pressCover {
  @include minScreenWidth;
    > h1 {
      padding: 0 21px;
      margin-bottom: 20px;
    }
   .pressBox{
    border-radius: 15px;
    padding: 10px 13px;
    @include sectionBoxShadow;
    margin: 0 21px 20px 21px;
    > .titleCover {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $LIGHT_GREY_3;
      padding-bottom: 6px;
      margin-bottom: 6px;
      > .title {
        font-size: $font_R;
        > img {
          width: 100%;
          height: 22px;
        }
      }
      .moreBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $font_M;
        line-height: 22px;
        border-radius: 10px;
        width: 62px;
        height: 20px;
        color: $LIGHT_GREY;
        border: 1px solid $LIGHT_GREY;
      }
    }
     > .contents {
        > .title {
          font-family: Noto_Bold;
          font-size: $font_MR;
          color: $REGULAR_GREY;
          line-height: 30px;
        }
        > .content {
          font-family: Noto_Regular;
          color : $LIGHT_GREY;
          font-size: $font_M;
          line-height: 22px;
        }
     }
     > .date {
       border-top: 1px solid $LIGHT_GREY_3;
       padding-top: 6px;
       margin-top: 6px;
       > strong, > span {
         font-family: Noto_Regular;
         color : $LIGHT_GREY;
         font-size: $font_M;
         line-height: 22px;
         margin: 0 2px;
       }
     }
  }
}

// youtubeScreen.jsx
.youtubeCover {
  @include minScreenWidth;
  > h1 {
    padding: 0 21px;
  }
  > .contentsCover {
    margin: 0 21px;
    > .subTitleCover {
      font-family: Noto_Light, sans-serif;
      font-size: $font_RR;
      font-weight: 400;
      margin-bottom: 45px;
      > .subTitlePoint {
        color: $MAIN_RED;
      }
    }
    > .descCover {
      position: relative;
      border: 1px solid $LIGHT_GREY_6;
      border-radius: 10px;
      padding: 25px 20px 10px 20px;
      margin-bottom: 43px;
      > strong {
        position: absolute;
        top: -22%;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px;
        background-color: $WHITE;
        color: $REGULAR_GREY;
        font-size: $font_RR;
      }
      > p {
        font-size: $font_MR;
        color: $LIGHT_GREY;
        text-align: center;
        margin-bottom: 15px;
      }
      > span {
        display: block;
        font-size: $font_MR;
        color: $LIGHT_GREY_6;
        text-align: center ;
        border-top: 1px dashed $LIGHT_GREY_6;
        padding-top: 10px;
      }
    }
    > .youtubeLink {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 100%;
      font-family: Noto_Medium, sans-serif;
      font-size: $font_MR;
      border-radius: 10px;
      background-color: $MAIN_RED;
      color: $WHITE;
      margin-bottom: 15px;
      transition: background-color 500ms;
      &:hover {
        background-color: $LIGHT_RED;
      }
    }
    > .videoCover {
      border-radius: 10px;
      overflow: hidden;
      > iframe {
        border: none;
      }
    }
  }


}

// NoticeScreen.jsx
.NoticeScreen {
  padding: 21px;
  > h1 {
    margin-bottom: 10px;
  }
  > ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    > li {
      padding: 12px 0;
      border-bottom: 1px dashed $LIGHT_GREY_2;
      > button  {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        > strong.title {
          font-size: 18px;
          font-family: Noto_Bold, sans-serif;
          color: $REGULAR_GREY;
          margin-bottom: 4px;
        }
        > div.dateBox {
          display: flex;
          justify-content: space-between;
          width: 100%;
          font-size: 15px;
          color: $LIGHT_GREY;
        }
      }

    }
  }
}

// NoticeDetailScreen.jsx
.NoticeDetailScreen {
  padding: 21px;
  > h1 {
    margin-bottom: 20px;
  }
  > header {
    background-color: $REGULAR_RED;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 14px 20px;
    > .title {
      color: $WHITE;
      font-size: 15px;
      font-family: Noto_Bold, sans-serif;
      margin-bottom: 5px;
      line-height: 1.5;
    }
    > .dateBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 13px;
      color: $DARK_PURPLE;
    }
  }
  > main {
    border-radius: 5px;
    border: 1px solid $LIGHT_GREY_1;
    padding: 20px;
    margin-bottom: 50px;
    > img {
      width: 100%;
    }
    > p {
      color: $REGULAR_GREY;
      font-size: 13px;
      margin-bottom: 10px;
      line-height: 1.5;
    }
  }
  > .backBtn {
      text-align: center;
  }
}

//backgroundColor: Color.REGULAR_RED,
//borderRadius: 5,
//marginBottom: 10,
//paddingHorizontal: 20,
//paddingVertical: 10,
