// TitleBig.jsx
.bigTitle {
  font-family: Noto_Black, sans-serif;
  font-size: $font_title_big;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  text-align: center;
}

.longInput {
  width: 100%;
  background-color: $LIGHT_GREY_4;
  padding: 10px 20px;
  margin-bottom: 10px;
  color: $LIGHT_GREY_1;
  font-size: 13px;
  line-height: 1.4;
  border-radius: 5px;


  &::placeholder {
    color: $LIGHT_GREY_1;
    font-size: 13px;
  }
}

.loginScreenCover {
  padding: 21px;
  > h1 {
    margin-bottom: 50px;
  }
  > .inputGroup {
    margin-bottom: 30px;
  }
  > .btnGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-bottom: 60px;
    a:first-child {
      margin: 0 4px;
      button {
        color: $REGULAR_GREY;
      }
    }
    a:last-child {
      margin: 0 4px;
      button {
        color: $MAIN_RED;
      }
    }
  }
  > .line {
    position: relative;
    border-top: 2px dashed $LIGHT_RED;
    margin-bottom: 35px;
    span {
      position: absolute;
      left:50%;
      top:50%;
      transform: translate(-50%,-50%);
      background-color: $WHITE;
      padding: 4px;
      color: $LIGHT_RED;
    }
  }
}