// MyCombineScreen.jsx
.myCombineMenuCover {
  @include minScreenWidth;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  > a {
    width: 45%;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    margin: 8px;
    border-radius: 15px;
    transform: translateY(-50%);
    @include sectionBoxShadow;

    > button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 20px;

      > img {
        width: 80px;
        height: auto;
        margin-bottom: 20px;
      }
      > span {
        font-size: $font_MR;
        color: $REGULAR_GREY;
        line-height: 18px;
      }
    }
  }
}

// Result.jsx
.resultCover {
  > header {
    margin-bottom: 30px;
  }
  > .contents {
    padding: 21px;
    > .btnCover {
      display: flex;
      flex-grow: 1;
      flex-shrink: 0;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      margin-bottom: 36px;

      > a {
        width: 33%;
        margin: 0 7px;
      }
    }
    > .issueCover {
      margin-bottom: 40px;
      > .optionBtnCover {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        margin-bottom: 20px;
        border-bottom: 2px solid $LIGHT_GREY_6;
        height: 38px;
        > .selected {
          border-top: 2px solid $LIGHT_GREY_6;
          border-left: 2px solid $LIGHT_GREY_6;
          border-right: 2px solid $LIGHT_GREY_6;
          border-bottom: 3px solid $WHITE;
        }
        > .unSelected {
          background-color: $LIGHT_GREY_6;
        }
        > button {
          border-radius: 5px 5px 0 0;
          width: 48%;
          height: 40px;
          border-bottom: none;
          padding: 8px;
          &:first-child {
            margin-right: 8px;
          }
          span {
            display: block;
            height: 40px;
            color: $LIGHT_GREY;
          }
        }
      }
      > .selectCover {
        border-radius: 5px;
        border: 1px solid $LIGHT_GREY_6;
        width: 100%;
        padding: 6px;
        font-size: $font_MR;
        color: $LIGHT_GREY;
        font-family: Noto_Regular;
      }
    }
    > .numberListCover {
      > h1 {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 5px;
        padding: 8px;
        color: $WHITE;
        font-size: $font_MR;
        line-height: 16px;
        > input {
          width: 10%;
          margin-right: 20px;
        }
        > span {
          &:nth-child(2) {
            width: 60%;
            margin-right: 20px;
          }
          &:last-child {
            width: 30%;
          }
        }
      }
      > p {
        width: 100%;
        margin-left: 60px;
        font-size: $font_M;
        color: $LIGHT_GREY;
      }
      > ol {
        display: flex;
        flex-direction: column;
        margin: 0 10px 30px 10px;
        > li {
          padding: 12px 0;
          border-bottom: 1px solid $BG_GREY;
          display: flex;
          flex-direction: row;
          align-items: center;

          > input {
            width: 10%;
            margin-right: 20px;
          }
          > ul {
            display: flex;
            flex-direction: row;
            width: 60%;
            margin-right: 20px;
            > li {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 28px;
              height: 28px;
              background-color: $LIGHT_GREY_6;
              border-radius: 50%;
              color: $REGULAR_GREY;
              font-size: $font_MR;
              line-height: 30px;
              font-family: Noto_Bold, sans-serif;
              margin: 0 1px;
            }
          }
          > span {
            width: 30%;
            color: $REGULAR_GREY;
            font-size: $font_MR;
            font-family: Noto_Bold, sans-serif;
          }
        }
      }
      > .qrMakeBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px 30px;
        border-radius: 20px;
        border: 2px solid $REGULAR_GREY;
        font-size: $font_MR;
        color: $REGULAR_GREY;
        font-family: Noto_Bold, sans-serif;
        line-height: 18px;
        margin: 0 auto;
        > img {
          width: 18px;
          height: auto;
          margin: 0 10px;
        }
      }
    }
  }
  > footer {
    margin-top: 50px;
  }
}

