// myPageScreen.jsx
.myPageScreenCover {
  >.infoCover{
    padding: 21px;
    margin-bottom: 30px;
  }
}

// myPageScreenForGuestCover.jsx
.myPageScreenForGuestCover {
  > .loginBtn {
    padding: 21px 21px 11px 21px;
     button {
      border-radius: 20px;
    }
  }
}

// UserInfoCard.jsx
.userInfoCardCover {
  padding: 4px 16px;
  border-radius: 15px;
  margin-bottom: 30px;
  @include sectionBoxShadow;
  > .userId {
    padding: 16px 10px;
    border-bottom: 1px dashed $LIGHT_GREY_2;
  }
  > .userGrade {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 10px;
    border-bottom: 1px dashed $LIGHT_GREY_2;
    > p {
      display: flex;
      flex-direction: column;
      > strong {
        font-family: Noto_Medium, sans-serif;
        font-size: $font_RR;
        color: $REGULAR_GREY;
        margin-bottom: 5px;
      }
      > span {
        font-size: 15px;
        color: $MAIN_RED;
      }
    }
    > a {
      button {
        font-size: 15px;
        color: $LIGHT_GREY;
        border: 1px solid $LIGHT_GREY;
        border-radius: 15px;
        padding: 4px 14px;
      }
    }
  }
  > .userFc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 10px;
    > p {
      > strong {
        font-size: $font_RR;
        color: $MAIN_RED;
        line-height: 1;
      }
      > span {
        font-size: $font_RR;
        color: $REGULAR_GREY;
        line-height: 1;
      }
    }
    > button {
      font-size: 15px;
      color: $LIGHT_GREY;
      border: 1px solid $LIGHT_GREY;
      border-radius: 15px;
      padding: 4px 14px;
    }
  }

}

// AnalyzeCardCover.jsx
.analyzeCardCover {
  padding: 10px 21px;
  border-radius: 15px;
  margin-bottom: 30px;
  @include sectionBoxShadow;
  > h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .pieChartCover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px dashed $LIGHT_GREY_6;
    > .chart {
      width: 140px;
      height: 140px;
      margin: 0 10px;
    }
    > .label {
      margin: 0 10px;
      > li {
        display: flex;
        align-items: center;
        margin-bottom: 4px;
        > strong {
          display: flex;
          flex-shrink: 0;
          flex-grow: 1;
          align-items: center;
          font-family: 'Noto Sans TC';
          font-style: normal;
          font-weight: 700;
          font-size: 15px;
          line-height: 22px;
          &:before {
            display: flex;
            content: '●';
            font-size: 10px;
            color: inherit;
            margin: 0 4px;
          }
        }
        > span {
          font-family: 'Noto Sans TC';
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 22px;
          color: #7B7B7B;
        }
      }
    }
  }
}

// AnalyzeTotalValue.jsx
.analyzeTotalValue {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  > strong {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 36px;
    text-align: right;
    color: #FF7831;
    margin: 0 5px;
  }
  > span {
    display: inline-block;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #7B7B7B;
  }
}

// AnalyzeBar.jsx
.analyzeBar {
  display: flex;
  justify-content: center;
  > .barGroup {
    margin-right: 35px;
    width: 100%;
    > .barImgCover {
      display: flex;
      align-items: center;
      height: 20px;
      border: 1px solid #DADADA;
      border-radius: 15px;
      width: 100%;
      position: relative;
      > .bar {
        position: relative;
        left: 2px;
        border-radius: 15px;
        height: 14px;
        //width: 100%;
        background: linear-gradient(90deg, #FFDBA6 0%, #FF2525 38.15%);
        .imgCover {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top:-8px;
          right: -25px;
          width: 29px;
          height: 29px;
          background: #FF6D58;
          border-radius: 50%;
          border: 2px solid $WHITE;
          img {
            display: block;
            width: 21.11px;
            height: 20px;
          }
        }
      }
      > .minNum {
        position: absolute;
        top: 18px;
        left: 2px;
        font-family: 'Noto Sans TC';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 19px;
        text-align: center;
        color: #FF2525;
        &:before {
          content: '';
          display: block;
          border-right: 1px dotted #FF2525;
          height: 10px;
          transform: translateX(-40%);
        }
      }
      > .maxNum {
        position: absolute;
        right: -23px;
        top: 18px;
        font-family: 'Noto Sans TC';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 19px;
        text-align: right;
        color: #830000;
        &:before {
          content: '';
          display: block;
          border-right: 1px dotted #830000;
          height: 10px;
          transform: translateX(-40%);
        }
      }
    }
  }
  > .modalBtn {
    width: 60px;
    height: 20px;
    flex-shrink: 0;

    background: #FFB23E;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    > button {
      font-family: 'Noto Sans TC';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 17px;
      text-align: center;
      color: #830000;

    }
  }
}

// NaviList.jsx
.naviListCover {
  border-top: 4px solid #EBEBEB;
  border-bottom: 4px solid #EBEBEB;
  padding: 0 21px;
  > li {
    > button {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items:  center;
      height: 50px;
      border-bottom: 1px dashed $LIGHT_GREY_6;
      > .title {
        display: flex;
        align-items:  center;
        font-family: 'Noto Sans TC';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        /* identical to box height */
        color: #7B7B7B;
        > .imgCover {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 52px;
        }
      }
      > img {
        width: 10px;
        flex-grow: 0;
        flex-shrink: 1;
        margin: 0 8px;
      }
    }
  }
  li:last-child {
    > button {
      border-bottom : none;
    }
  }
}

// InfoBox.jsx
.infoBoxCover {
  padding: 21px;
  > h1 {
    margin-bottom: 10px;
  }
  > ul {
    margin-bottom: 20px;
    > li {
      display: flex;
      > span {
        font-family: 'Noto Sans TC';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 150%;
        color: #7B7B7B;
      }
      > p {
        font-family: 'Noto Sans TC';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 180%;
        color: #7B7B7B;
      }
    }
  }
  > .versionInfo {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #7B7B7B;
    padding: 10px 0;
    border-top: 1px dashed #DADADA;
    border-bottom: 1px dashed #DADADA;
  }
  > footer {
    padding: 15px 0;
    text-align: center;
      > button {
        font-family: 'Noto Sans TC';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        text-align: center;
        color: #7B7B7B;
        padding: 0;
        &:last-child:before {
          display: inline-block;
          content: '|';
          padding: 0 6px;
        }
      }
  }
}

//userInfoEditReLoginScreen.jsx
.userInfoEditReLoginCover {
  padding: 10px 21px;
    > h1 {
      margin-bottom: 10px;
    }
    > p {
      font-family: 'Noto Sans TC';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 220%;
      color: #595959;
      margin-bottom: 20px;
    }
  > .inputCover {
    display: flex;
    justify-content: center;
    align-items: center;
    > label {
      flex-shrink: 0;
      flex-grow: 1;
      font-family: 'Noto Sans TC';
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 220%;
      color: #656565;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
  > .btnCover {
    display: flex;
    button {
      width: 50%;
      flex-grow: 0;
      flex-shrink: 1;
    }
    button:first-child {
     margin-right: 8px;
    }
  }
}

// NaviUserInfoEditScreen.jsx
.userInfoEditCover {
  padding: 10px 21px;
  > h1 {
    margin-bottom: 10px;
  }
  > ul {
    @include sectionBoxShadow;
    border-radius: 15px;
    padding: 8px 21px;
    margin-bottom: 50px;
    > li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px dashed #DADADA;
      > .infoCover {
        display: flex;
        align-items: center;
        flex-grow: 1;
        padding: 12px 0;
        > span {
          text-align: center;
          font-family: 'Noto Sans TC';
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 26px;
          color: #656565;
          width: 40px;
          margin-right: 15px;
        }
        > strong {
          font-family: 'Noto Sans TC';
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 15px;
          color: #656565;
        }
      }
    }
    li:last-child {
      border-bottom: none;
    }
  }
  > p {
    text-align: center;
    border-top: 1px dashed $LIGHT_GREY_2;
    padding: 10px 0;
    margin-bottom: 10px;
    color: $LIGHT_GREY_1;
  }
}

// UserInfoEditNameChangeScreen.jsx
// userInfoEditNameChangeScreen.jsx
.userInfoEditNameChangeCover,
.userInfoEditPhoneChangeCover,
.userInfoEditPwChangeCover,
.userInfoEditSignOutCover,
.userInfoEditSignOutReasonCover {
  padding: 10px 21px;
  > h1 {
    margin-bottom: 10px;
  }
   > .inputCover:nth-child(3)  {
    > .timer {
      position: absolute;
      top: 12%;
      right: 38%;
      font-family: 'Noto Sans TC';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 220%;
      /* identical to box height, or 29px */

      text-align: right;

      color: #A6A6A6;
    }
  }
  > .inputCover {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    > label {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      flex-shrink: 0;
      font-family: 'Noto Sans TC';
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 220%;
      color: #656565;
      margin-right: 6px;
      margin-bottom: 10px;
    }
    > input {
      margin-right: 6px;
    }
    > button {
      flex-grow: 1;
      flex-shrink: 0;
      margin-bottom: 10px;
    }
  }
  > .descCover {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #B2B2B2;
    border-top: 1px dashed $LIGHT_GREY_2;
    padding: 20px 0;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  > .btnCover {
    display: flex;
    button {
      width: 50%;
      flex-grow: 0;
      flex-shrink: 1;
    }
    button:first-child {
      margin-right: 8px;
    }
  }
}

.userInfoEditPwChangeCover {
  > .inputCover {
    > label {
      width: 70px;
      justify-content: flex-start;
    }
  }
}

.userInfoEditSignOutCover{
  .checkboxCover {
    padding: 0 10px;
  }
}

.userInfoEditSignOutCover,
.userInfoEditSignOutReasonCover {
  > .descCover:nth-child(2) {
    > ol {
      padding-left:21px;
      > li {
        list-style-type: decimal;
      }
    }
  }
  > .descCover:nth-child(3) {
    > ul {
      @include sectionBoxShadow;
      border-radius: 15px;
      padding: 8px 21px;
      margin-bottom: 10px;
      > li {
        display: flex;
        flex-grow: 1;
        align-items: center;
        border-bottom: 1px dashed #DADADA;
        padding: 12px 0;
          > span {
            text-align: center;
            font-family: 'Noto Sans TC';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 26px;
            color: #656565;
            width: 40px;
            margin-right: 15px;
          }
          > strong {
            font-family: 'Noto Sans TC';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            color: #656565;
          }
      }
       li:last-child {
         border-bottom: none;
       }
    }
  }
  > .descCover {
    border-top: none;
    margin: 0;
    position: relative;
    > .line {
      display: block;
      width: 100%;
      border-bottom: 2px $LIGHT_GREY_6 solid;
      margin-bottom: 30px;
    }
    > p {
      position: absolute;
      top:0;
      font-family: 'Noto Sans TC';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 220%;
      color: #595959;
      width: fit-content;
      background-color: $WHITE;
      padding-right: 20px;
    }
  }
  > .btnCover {
    margin-top: 40px;
    > button {
      border-radius: 20px;
    }
  }
}

.userInfoEditSignOutReasonCover {
 .checkBoxWithText {
   border-top: 1px dashed $LIGHT_GREY_2;
   padding: 8px;
   margin: 0;
 }
  > .checkbox {
    .checkBoxWithText:last-child {
      border-bottom: 1px dashed $LIGHT_GREY_2;
    }
  }
}

//notificationDetail.jsx
.notificationDetailCover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px dashed #DADADA;
  padding: 10px;
  > .textCover {
    display: flex;
    flex-direction: column;
    > h1 {
      font-family: 'Noto Sans TC';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 220%;
      color: #595959;
    }
    > span {
      font-family: 'Noto Sans TC';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 150%;
      color: #A6A6A6;

    }
  }
}

// NaviNotificationSettingScreen.jsx
.naviNotificationSettingCover {
  padding: 10px 21px;
  > h1 {
    margin-bottom: 10px;
  }
  > .btnCover {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 36px;
  }
}

// notificationNumber.jsx
.notificationNumberCover {
  text-align: center;
  padding-bottom: 40px;
}
// notificationNumberTime.jsx
.notificationNumberTimeCover {
  margin-bottom: 60px;
  position: relative;
  > h1 {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 220%;
    text-align: center;
    color: #595959;
    margin-bottom: 30px;
    > strong {
      color: #D52323;
    }
  }
  > h2 {
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #595959;
    padding: 0 10px;
    background-color: $WHITE;
  }
  > ul {
    border: 1px solid #C2C2C2;
    border-radius: 10px;
    padding: 40px 20px 10px 20px;
    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      > img {
        margin-bottom: 20px;
      }
      > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }
    }
    li:nth-child(1) {
      border-bottom: 1px dashed $LIGHT_GREY_6;
      > img {
        width: 82.96px;
        height: 34.64px;
      }
    }
    li:nth-child(2) {
      border-bottom: 1px dashed $LIGHT_GREY_6;
      > img {
        width: 77.56px;
        height: 40px;
      }
    }
    li:nth-child(3) {
      > img {
        width: 87.52px;
        height: 36.47px;
      }
    }
  }
}

// notificationNumberGroupScreen.jsx
.notificationNumberGroupCover {
  position: relative;
  margin-bottom: 40px;
  > h1 {
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #595959;
    padding: 0 10px;
    background-color: $WHITE;
  }
  > ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: 1px solid #C2C2C2;
    border-radius: 10px;
    padding: 40px 20px 10px 20px;
    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      > img {
        margin-bottom: 20px;
      }
      > select {
        border-radius: 5px;
        border: 1px solid $LIGHT_GREY_6;
        width: 100%;
        padding: 6px;
        font-size: $font_MR;
        color: $LIGHT_GREY;
        font-family: Noto_Regular, sans-serif;
      }

    }
    li:nth-child(1) {
      > img {
        width: 82.96px;
        height: 34.64px;
      }
    }
    li:nth-child(2) {
      > img {
        width: 77.56px;
        height: 40px;
      }
    }
    li:nth-child(3) {
      > img {
        width: 87.52px;
        height: 36.47px;
      }
    }
  }
}

// GradeText.jsx
.gradeTextCover {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  height: 32px;
  background-color: $LIGHT_GREY_2;
  margin-bottom: 30px;
  > h1 {
    font-size: 15px;
    color: $LIGHT_GREY;
  }
  > h2 {
    font-size: 15px;
    color: $MAIN_RED;
  }
}

// NavPaymentInfoScreen.jsx
.paymentInfoCover {
  padding: 10px 21px;
  > h1 {
    margin-bottom: 20px;
  }
  > header {
    height: 38px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid $LIGHT_GREY_2;
    margin-bottom: 30px;

    > h1,h2 {
      font-size: 15px;
      color: $REGULAR_GREY;
      font-weight: bold;
      width: 50%;
      text-align: center;
    }
    > div {
      width: 1px;
      height: 25px;
      background-color: $LIGHT_GREY_2;
      margin: 0 4px;
    }
  }
  > .list {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $LIGHT_GREY_2;
    margin-bottom: 30px;
    padding: 4px 0;
      > .vipRenderCover {
        width: 100%;
        font-size: 13px;
        color: $LIGHT_GREY;
        padding: 6px 0;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid $LIGHT_GREY_2;
        > .grade, > .date {
          width: 50%;
          text-align: center;
        }
        &:last-child {
          border-bottom: none;
        }
    }
  }
  > .receiptHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $REGULAR_RED;
    border-radius: 15px;
    height: 38px;
    margin-bottom: 30px;
    > li {
      font-weight: bold;
      font-size: 14px;
      color: $WHITE;
      text-align: center;
      width: 24%;
    }
  }
  > .receiptBody,
  .receiptHeader{
    .name {
      width: 32%;
    }
    .money {
      width: 18%
    }
    .date {
      width: 25%;
    }
    .order {
      width: 22%;
    }
  }

  > .receiptBody {
    border-radius: 15px;
    border: 1px solid $LIGHT_GREY_2;
    margin-bottom: 10px;
    > li {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid $LIGHT_GREY_2;
      padding: 8px 0;
      > ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        > li {
          font-size: 13px;
          color: $LIGHT_GREY;
          text-align: center;
          margin-left: 4px;
        }
      }
    }
    > .noData {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 0;
      width: 100%;
      font-family: 'Noto Sans TC';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 120%;
      color: #7B7B7B;
    }
  }
}

// NaviCouponScreen.jsx
.couponCover {
    padding: 10px 21px;
  > h1 {
    margin-bottom: 10px;
  }
  > .inputCover {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    > input {
      width: 65%;
      margin-bottom: 0;
      margin-right: 10px;
    }
    > button {
      width: 33%;
      flex-shrink: 1;
      flex-grow: 0;
    }
  }
  > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: $REGULAR_RED;
    width: 100%;
    height: 38px;
    padding: 0 30px;
    margin-bottom: 16px;
    > h1, h2 {
      font-family: 'Noto Sans TC';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 220%;
      color: #FFFFFF;
    }
  }
  > p {
    border: 0.5px solid #C2C2C2;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 50px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 120%;
    text-align: center;
    color: #7B7B7B;
  }
  > ul {
    border: 0.5px solid #C2C2C2;
    border-radius: 5px;
    margin-bottom: 50px;
    > li {
      display: flex;
      justify-content: space-between;
      font-family: 'Noto Sans TC';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 120%;
      text-align: center;
      color: #7B7B7B;
      border-bottom: 1px solid #E6E6E6;
      padding: 8px;
      margin: 0 8px;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  > footer {
    position: relative;
    margin-bottom: 40px;
    > h1 {
      font-family: 'Noto Sans TC';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 220%;
      color: #595959;
      padding: 4px 8px;
      background-color: $WHITE;
      position: absolute;
      top:-20px
    }
    > .line {
      width: 100%;
      height: 1px;
      background: #C4C4C4;
      margin-bottom: 40px;
    }
    > ul {
        padding: 0 0 0 21px;
      > li {
        font-family: 'Noto Sans TC';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 150%;
        color: #7B7B7B;
        list-style-type: '•';
        padding: 2px 4px;
      }
    }
  }
}

// NaviRecipetLottoScreen.jsx
.receiptLottoCover {
  padding: 10px 21px;
  .redValue {
    color: $MAIN_RED;
  }
  > h1 {
    margin-bottom: 50px;
  }
  > main {
    border: 1px solid #C2C2C2;
    border-radius: 10px;
    position: relative;
    padding: 40px 10px 0 10px;
    margin-bottom: 60px;
    > header {
        position: absolute;
        left: 50%;
        top:-10%;
        transform: translateX(-50%);
        width: fit-content;
        margin: 0 auto;
        background-color: $WHITE;
        padding: 4px;
      > h1 {
        font-family: 'Noto Sans TC';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: #595959;


      }
    }
    > ul {
      > li {
        display: flex;
        align-items: center;
        border-top: 1px solid #E6E6E6;
        padding: 8px;
        font-family: 'Noto Sans TC';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 120%;
        text-align: right;
        color: #7B7B7B;
        > span {
          width: 90px;
          margin-right: 20px;
        }
        > div {
          display: block;
          flex-grow: 1;
          text-align: left;
          > strong {
            display: flex;
            flex-direction: column;
            letter-spacing: 0.4px;
            > div {
              border-top: 1px solid #E6E6E6;
              padding-top: 8px;
              padding-bottom: 8px;
              &:first-child {
                padding-top: 0;
                border-top: none;
              }
              &:last-child {
                padding-bottom: 0;
              }

            }
          }
        }
      }
    }
  }
}

// NaviFAQScreen.jsx
.faqCover {
  padding:  10px 21px;
  > h1 {
    margin-bottom: 30px;
  }
  > ul {
    > li {
      padding: 6px 0;
      border-top: 1px dashed #DADADA;
      > div {
        display: flex;
        align-items: flex-start;
        > strong {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius:7.31343px;
          font-family: Noto_Bold, sans-serif;
          font-style: normal;
          font-weight: 900;
          font-size: 14.6269px;
          text-align: center;
          color: #FFFFFF;
          width: 21.94px;
          height: 21.94px;
          padding-bottom: 2px;
          flex-shrink: 1;
          margin-top: 6px;
          margin-right: 8px;
        }
        > p {
          flex-grow: 1;
          width: 88%;

        }
      }

      > .question {
        > strong {
          background-color: $MAIN_RED;
        }
        > p {
          font-family: 'Noto Sans TC';
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 220%;
          color: #595959;

        }
      }
      > .answer {
        > strong {
          background-color: $DARK_BLUE;
        }
        > p {
          font-family: 'Noto Sans TC';
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 150%;
          color: #7B7B7B;
        }
      }
    }
    li:last-child {
      border-bottom: 1px dashed #DADADA;
    }
  }
}

// NaviDirectInquiryScreen.jsx
.qnaCover {
  padding: 10px 21px;
  > h1 {
    margin-bottom: 20px;
  }
  > .desc {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    height: 32px;
    background-color: $LIGHT_GREY_2;
    margin-bottom: 10px;
    > h1 {
      font-size: 15px;
      color: $LIGHT_GREY;
    }
  }
  > p {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: #7B7B7B;
    margin-bottom: 30px;

  }
  > .qnaHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $REGULAR_RED;
    border-radius: 5px;
    height: 38px;
    margin-bottom: 15px;
    > li {
      font-family: 'Noto Sans TC';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 220%;
      color: #FFFFFF;
    }
  }
  > .qnaBody {
    border: 1px solid #C2C2C2;
    border-radius: 5px;
    padding: 2px 10px;
    margin-bottom: 10px;
    margin-bottom: 10px;

    > li {
      display: flex;
      flex-grow: 1;
      flex-shrink: 0;
      border-bottom: 1px solid #E6E6E6;
      padding: 7px 0;
      > span {
        flex-grow: 1;
        flex-shrink: 0;
      }
      &:last-child {
        border-bottom: none;
      }
    }
     .title, .date {
      font-family: 'Noto Sans TC';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 120%;
      color: #7B7B7B;
    }
    .response_y {
      font-family: 'Noto Sans TC';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 120%;
      text-align: center;
      color: #FF6565;
      width: 20%;
      text-align: center;
    }
    .response_n {
      font-family: 'Noto Sans TC';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 120%;
      text-align: center;
      color: #77ADFF;
      width: 20%;
      text-align: center;
    }

  }
  > .qnaHeader,
  .qnaBody  {
     .title {
      width: 60%;
      padding-left: 20px;
    }
     .date {
      width: 20%;
      text-align: center;
    }
     .response {
      width: 20%;
      text-align: center;
    }
  }
  > .nodata {
    border: 1px solid #C2C2C2;
    border-radius: 5px;
    padding: 8px 10px;
    margin-bottom: 10px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 120%;
    text-align: center;
    color: #7B7B7B;
  }
  > footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px dashed $LIGHT_GREY_2;
    .paginationCover {
      margin: 0;
    }
  }
  > .emailQna {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $LIGHT_GREY_6;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    > strong {
      position: absolute;
      left: 50%;
      top:-20%;
      transform: translateX(-50%);
      padding: 5px 8px;
      background-color: $WHITE;
      font-family: 'Noto Sans TC';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 23px;
      text-align: center;
      color: #595959;
    }
    > span {
      font-family: 'Noto Sans TC';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 150%;
      color: #7B7B7B;
      margin-left: 15px;
    }
  }
}

// DirectInquiryWriteScreen.jsx
.qnaWriteCover {
  padding: 10px 21px;
  > h1 {
    margin-bottom: 30px;
  }
  > .inputCover {
    margin-bottom: 20px;
  }
  > .btnCover {
     button:first-child {
      margin-right: 10px;
    }
  }
}

// DirectInquiryDetailScreen.jsx
.qnaDetailCover {
  padding: 10px 21px;
  > h1 {
    margin-bottom: 20px;
  }
  > .question,
  > .answer{
    > .title {
      border-radius: 5px;
      color: $WHITE;
      padding: 12px 18px;
      margin-bottom: 10px;
      > p {
        font-family: 'Noto Sans TC';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        color: #FFFFFF;
        margin-bottom: 4px;
      }
      > span {
        font-family: 'Noto Sans TC';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
      }
    }
    > .desc {
      font-family: 'Noto Sans TC';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 150%;
      color: #656565;
      border-radius: 5px;
      border: 1px solid $LIGHT_GREY_6;
      padding: 12px 16px;
      margin-bottom: 30px;
      > img {
        width: 100%;
      }
    }
  }
  .question {
    > .title {
      background-color: $REGULAR_RED;
      > span {
        color: #580000;
      }
    }
  }
  .answer {
    > .title {
      background-color: $DARK_BLUE;
      > span {
        color : $LIGHT_BLUE;
      }
    }
  }
  > .btnCover {
    display: flex;

  }
}