
// red
  $MAIN_RED : #D52323;
  $REGULAR_RED : #E61D25;
  $LIGHT_RED : #FF6565;
  $LIGHT_RED_2 : #FF5F5F;
  $DARK_RED :#830000;
// pink
  $PINK : #F7C6FF;
  $PINK_2 : #EBC1EE;
  $LIGHT_PINK : #FFC2C2;
  $PURPLE : #8E19A1;
  $DARK_PURPLE : #580000;

// black
  $WHITE : #FFFFFF;
  $BLACK : #000000;
  $LIGHT_BLACK: #1D1D1E;


// blue
  $DARK_BLUE : #243B80;
  $BLUE : #516976;
  $LIGHT_BLUE: #77ADFF;
  $NEON_BLUE: #32BEF2;
  $NEON_BLUE_2: #2E9ECE;
  $LIGHT_SKY: #BAF3FF;
  $LIGHT_SKY_2: #BCDDEA;

// green
  $LIGHT_GREEN: #11A097;
  $LIGHT_GREEN_2: #B0E1DE;
  $GREEN: #6DA93D;

// grey
  $DARK_GREY_1 : #3A3A3A;
  $DARK_GREY_2 : #515151;
  $REGULAR_GREY : #656565;
  $LIGHT_GREY : #7B7B7B;
  $LIGHT_GREY_1 : #A6A6A6;
  $LIGHT_GREY_2: #DADADA;
  $LIGHT_GREY_3 : #EFEFEF;
  $LIGHT_GREY_4: #F2F2F2;
  $LIGHT_GREY_5: #E5E5E5;
  $LIGHT_GREY_6: #C2C2C2;
  $SHADOW_GREY : #CACACA;
  $BG_GREY : #EBEBEB;

// beige
  $DEEP_DARK_BEIGE: #7B0000;
  $DARK_BEIGE: #8A5334;
  $BEIGE: #FFEAD2;
  $BEIGE_2: #E5DDC0;
  $REGULAR_BEIGE: #D1B4A0;

// orange
  $DARK_ORANGE : #A6550A;
  $ORANGE: #FF7900;
  $ORANGE_2:#FF9211;
  $REGULAR_ORANGE : #FFAB2E;
  $LIGHT_ORANGE:#FFB23E;
// yellow
  $LIGHT_YELLOW: #FFEAB5;
// gradient
  $RED_GRADIENT : #FFEEEA;
  $BLUE_GRADIENT : #49C8FF;
  $MINT_GRADIENT : #66FFF6;
  $YELLOW_GRADIENT : #FFDD66;
  $PINK_GRADIENT : #F366FF;
  $GREEN_GRADIENT : #F366FF;
  $BIG_LOTTO: #243B80;
  $DAILY_LOTTO: #FF7900;
  $SUPER_LOTTO: #E61D25
